.servicios-estilo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
}

.servicio-estilos {
    display: flex;
    flex-direction: column;
    background-color: #032FD4;
    color: #fff;
    border-radius: 15px;
    padding: 5px;
    width: 15%;
    text-align: center;
}

.servicio-estilos:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.tipo-estilos {
    font-size: 10px;
    background-color: #222222;
    width: 32%;
    border-radius: 15px;
    padding: 2.5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nombre-servicio-estilos {
    font-size: 16px;
    margin-left: 10px;
    text-align: start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.precio-estilos.activo {
    background-color: #fff;
    color: #222222;
}

.precio-estilos {
    font-size: 16px;
    text-align: center;
    background-color: #222222;
    color: #fff;
    border-radius: 15px;
    width: 90%;
    margin: auto;
    padding: 2.5px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
}

.precio-estilos:hover {
    background-color: #fff;
    color: #222222;
}

.textos-div-stilos {
    margin-bottom: 10px;
}

.textos-estilos {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.imagen-estilos {
    width: 100%;
    border-radius: 10px;
    display: block;
    margin: auto;
}

.oculto {
    display: none;
}

#div-datos {
    position: fixed;
    z-index: 9998;
    text-align: center;
    background-color: #222222;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    width: 40%;
}

#cerrar-ventana {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 0;
    margin: auto;
    margin-top: 20px;
    list-style-type: none;
}

#lista a {
    color: #fff;
    text-decoration: none;
}

.titulo-presupuesto {
    background-color: #032FD4;
    color: #fff;
    font-size: 16px;
    width: 60%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    border-radius: 15px;
    padding: 5px;
}

#respuesta {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 30px;
}

#logo-dekeva {
    width: 30%;
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
}

#boton {
    display: block;
    grid-column: 1 / -1;
    margin: auto;
    text-align: center;
    background-color: #032FD4;
    width: 100%;
    font-size: 16px;
    margin: auto;
    margin-top: 20px;
    padding: 90px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #fff;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

#boton:hover {
    background-color: #222222;
}

#error-mensaje {
    color: #032FD4;
    font-style: italic;
    margin: auto;
    text-align: center;
    grid-column: 1 / -1;
}








.formulario-container {
    position: relative;
    background: white;
    padding: 25px;
    max-width: 1175px;
    margin-top: 20px;
    border: 2px solid #0028e5;
    border-radius: 0;
    margin: auto;
    margin-top: 15px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 15px;
}

.form-title,
.btn-submit {
    grid-column: 1 / -1;
    margin: auto;
    text-align: center;
}

.form-title {
    margin-bottom: 15px;
    color: #032FD4;
}

.formulario-container::before,
.resumen-container::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    width: 7px;
    height: 7px;
    background-color: #0028e5;
}

.formulario-container::after,
.resumen-container::after {
    content: '';
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 7px;
    height: 7px;
    background-color: #0028e5;
}

.formulario-container input,
.formulario-container label,
.formulario-container button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #032FD4;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input {
    width: 100%;
    margin-top: 8px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 0;
}

.form-group input:focus {
    outline: none;
    border-color: #0028e5;
}